name: Runtests

on:
  push:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - 'docs/**'
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  test:
    name: Julia ${{ matrix.version }} - ${{ matrix.os }} - ${{ matrix.arch }} ( ${{ matrix.group }} )
    runs-on: ${{ matrix.os }}
    permissions: # needed to allow julia-actions/cache to delete old caches that it has created
      actions: write
      contents: read
    if: ${{ !github.event.pull_request.draft }}
    strategy:
      fail-fast: false
      matrix:
        # for core tests (latest and oldest supported versions)
        version:
          - '1.7'  # oldest
          - '1'    # latest
        os:
          - ubuntu-latest
          - windows-latest
        arch:
          - x64
        group:
          - Core

        include:
          # for core tests on macOS
          - version: '1.7'      # oldest (julia v1.7 does not support M-series chip)
            os: 'macOS-13'      # Intel chip
            arch: 'x64'
            group: 'Core'
          - version: '1'        # latest
            os: 'macOS-latest'  # M-series chip
            arch: 'arm64'
            group: 'Core'

          # for core tests (intermediate versions)
          - version: '1.8'
            os: 'ubuntu-latest'
            arch: 'x64'
            group: 'Core'
          - version: '1.9'
            os: 'ubuntu-latest'
            arch: 'x64'
            group: 'Core'

          # for code quality tests
          - version: '1'
            os: 'ubuntu-latest'
            arch: 'x64'
            group: 'Code-Quality'

    steps:
      - uses: actions/checkout@v4
      - uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - uses: julia-actions/julia-runtest@v1
        env:
          GROUP: ${{ matrix.group }}
      - uses: julia-actions/julia-processcoverage@v1
        with:
          directories: src,ext
      - uses: codecov/codecov-action@v4
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: lcov.info
          fail_ci_if_error: true